.top-nav {
  box-shadow: 0 0.1px 0.1px #00000004, 0 0.1px 0.3px #00000006,
    0 0.3px 0.5px #00000008, 0 0.4px 0.9px #0000000a, 0 0.8px 1.7px #0000000c,
    0 2px 4px #00000012;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;

  .search-box {
    box-shadow: 0 0 0 1px #0000000d, 0 2px 4px 1px #00000017;
    width: 800px !important;
    height: 46px !important;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    padding: 0px 8px;
    justify-content: center;
  }
  .result-box{
      position: absolute;
      width: 800px !important;
      margin: 0px auto;
      top: 76px;
      border: 1px solid rgba(0,0,0,.05)!important;
      box-shadow: 0 4px 4px 0 rgb(0 0 0 / 10%);
      border-radius: 12px;
      background-color: #fff;
      padding: 12px 0px;
      max-height: 0px;
      overflow-y: auto;
      transition: max-height 2s;
      .result-item{
          padding: 0px 16px;
          line-height: 32px;
          &:hover{
              background-color: #00000004;
          }
      }
  }
}
