.tag{
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin: 8px 32px 8px 0px;
  width: 180px;
  padding: 8px 32px 8px 8px;
  position: relative;
  >span{
    flex-shrink: 0;
  }
  .name{
      margin-left: 8px;
      line-height: 24px;
      font-weight: lighter;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: calc(100% - 32px);
  }
  .tag-more{
    margin-left: 4px;
    color: orange;
    cursor: pointer;
    font-size: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: calc(100% );
  }
  .oper{
    display: none;
  }
  &:hover,&.is-checked{
    background-color: rgba(245,245,245,0);
    box-shadow: 0 2px 10px #ddd;
    border-radius: 10px;
    .oper{
      display: block;
      position: absolute;
      right: 16px;
      bottom: 8px;
      font-size: 20px;
      color: #a1a7b7;
      cursor: pointer;
    }
  }

 
}
.tag-popover{
  :global{
    .ant-popover-inner-content{
      padding: 0px;
    }
  }
  .tag-oper{
    .module{
      padding: 2px 0px;
      &:not(:last-child){
        border-bottom: 1px solid #f5f5f5;;
      }
      .item{
        padding: 6px 12px;
        display: flex;
        align-items: center;
        cursor: pointer;
        >span{
          margin-left: 4px;
        }
        &:hover{
          background-color: #ecf5ff;
          color: #66b1ff;
        }
      }
    }
  }
}

