.label-box {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;
  flex-direction: column;
  position: relative;
  padding: 0px !important;
  padding-right: 0px;
  &:hover {
    .label-drag {
      visibility: visible;
    }
  }
  .hot {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 42px;
    height: 42px;
  }

  .label-drag {
    position: absolute;
    right: 16px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    top: 16px;
    visibility: hidden;
  }
  .tags {
    padding: 12px 0px 12px 28px;
    min-height: 80px;
    > div {
      display: flex;
      flex-wrap: wrap;
    }
    :global {
      // 在css module中修改第三方库的样式
      .is-checked {
        box-shadow: 0 2px 10px #ddd;
        border-radius: 10px;
        color: #1890ff;
        height: 24px;
        padding: 0px;
      }
    }
  }
  .oper {
    position: absolute;
    right: 16px;
    top: 8px;
    z-index: 9;
  }
  &:not(.is-hot):hover {
    .oper {
      display: block;
    }
  }
}
