.label-box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    flex-direction: column;
    position: relative;
    padding: 0px !important;
    &:hover{
        .label-drag{
            visibility: visible;
        }
    }
    .hot{
        position: absolute;
        left: 0px;
        right: 0px;
        width: 42px;
        height: 42px;
    }

    .label-drag{
        position: absolute;
        right:16px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        top: 16px;
        visibility: hidden;
      
    }
    .tags{
        padding: 12px 48px;
        min-height: 80px;
       >div{
        display: flex;
        flex-wrap: wrap;
       }
    }
    .oper{
        position: absolute;
        display: none;
        right: 16px;
        top: 8px;
    }
    &:not(.is-hot):hover{
        .oper{
            display: block;
        }
    }
}
