.label-box{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 24px;
    flex-direction: column;
    position: relative;
    padding: 0px !important;
    &:hover{
        .label-drag{
            visibility: visible;
        }
    }
    .hot{
        position: absolute;
        left: 0px;
        right: 0px;
        width: 42px;
        height: 42px;
    }
    .title{
        padding: 12px 48px;
        border-bottom: 1px solid #f5f5f5;
        font-weight: 600px;
        font-weight: bolder;
        display: flex;
        align-items: center;
        &::before{
            background: #5580e9;
            content: "";
            display: inline-block;
            flex-shrink: 0;
            height: 14px;
            margin-right: 10px;
            width: 4px;
        }
    }
    .label-drag{
        position: absolute;
        right:16px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        top: 16px;
        visibility: hidden;
      
    }
    .tags{
        padding: 12px 48px;
        min-height: 80px;
       >div{
        display: flex;
        flex-wrap: wrap;
       }
    }
    .oper{
        position: absolute;
        display: none;
        right: 16px;
        top: 16px;
    }
    &:not(.is-hot):hover{
        .oper{
            display: block;
        }
    }
}
