.always-site{
    .middle{
        display: flex;
        justify-content: center;
        margin-top: 24px;
        width: 100%;
        >div{
            margin-right: 60px;
            &:first-child{
                width: 65%;
            }
            &:last-child{
                width: 15%;
            }
        }
    }
}