.always-site{
    height: 100%;
    width: 100%;
    .middle{
        display: flex;
        justify-content: center;
        margin-top: 24px;
        width: 100%;
        >div{
            margin-right: 60px;
            &:first-child{
                width: 65%;
                margin-left: 20px;
            }
            &:last-child{
                width: 360px;
                flex-shrink: 0;
            }
        }
    }
}