@import "~antd/dist/antd.css";
#__next {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url(../static/images/bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.ant-tabs > .ant-tabs-nav .ant-tabs-nav-wrap{
  justify-content: center !important;
}
::-webkit-scrollbar {
  width: 8px;
  height: 12px;
  background-color: #fff;
}

/* 滚动条里的小块 */
::-webkit-scrollbar-thumb {
  display: block;
  min-width: 8px;
  min-height: 12px;
  background-color: rgb(217 217 217);
  border-radius: 6px;
}

/* 鼠标悬浮 */
::-webkit-scrollbar-thumb:hover {
  display: block;
  min-width: 8px;
  min-height: 12px;
  background-color: rgb(159 159 159);
  border-radius: 6px;
}
.ant-modal-wrap{
  z-index: 1040;
}